$black: rgb(15, 15, 15);
$blue: rgb(76, 165, 252);
$green: rgb(48, 231, 129);
$grey: rgb(220, 220, 220);
$light-blue: rgb(135, 195, 252);
$lighter-blue: rgb(147, 204, 252);
$pink: rgb(234,75,252);
$white: rgb(250, 250, 250);

$example-width: 14rem;
$example-height: 800px;
$transition-normal: 200ms;
$transition-fast: 100ms;

*, *::before, *::after {
  box-sizing: border-box;
}

.app-frame {
  border: 1px solid $grey;
  margin: 1rem auto;
  height: $example-height;
  overflow: auto;
  width: $example-width;
}

.loader {

  opacity: 1;
  transition: opacity $transition-normal ease-in-out;
  transition-delay: $transition-fast;

  &.unloaded,
  &-exit-active {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &-exit-active {
    opacity: 0;
  }
}

.progress-bar-loader {
  background-color: $pink;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  height: 2rem;
  padding: 0;
  transition: height $transition-fast ease-in-out;
  width: 9rem;

  &:focus {
    outline: 0;
  }

  &.loaded {
    background-color: $green;
  }

  &.loading {
    height: 1.2rem;
  }

  .progress-bar {
    background-color: $black;
    display: block;
    height: 100%;
    opacity: .3;
    width: 100%;
  }

  .overlay {
    align-items: center;
    background-color: $pink;
    display: flex;
    height: 100%;
    justify-content: center;
    transition: background-color $transition-fast ease-in-out, opacity $transition-fast ease-in-out;
    width: 100%;
    opacity: 1;

    &:hover {
      background-color: $black;
      cursor: pointer;
      opacity: .4;
    }
  }
}

.container {
  padding: 1rem;
}

.simple-card {
  background-color: $blue;
  border-radius: 5px;
  box-shadow: 0 0 4px $black;
  height: 9rem;
  margin-bottom: 1rem;
  padding: 1rem;

  .title {
    background-color: $lighter-blue;
    border-radius: 10px;
    height: 1.5rem;
    width: 66%;
  }

  .sub-title {
    background-color: $white;
    border-radius: 10px;
    height: 1.5rem;
    margin-top: 1rem;
    width: 33%;
  }

  &-appear {
    opacity: 0;
    overflow: hidden;
    transform: translateY(30px);
    transition: opacity $transition-normal ease-in, transform $transition-normal ease-in,
  }

  &-appear-active {
    opacity: 1;
    transform: translateY(0);
  }
}

.tabbed-container {

  .tabs {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;

    .left,
    .right {
      padding: 1rem 0;
      position: relative;
      width: 50%;

      &.selected::after {
        border-bottom: 2px solid $blue;
        bottom: 0;
        content: "";
        position: absolute;
        width: 100%;
      }
    }

    .button {
      background-color: $blue;
      border-radius: 5px;
      height: 2rem;
      margin: 0 auto;
      width: 80%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .containers {
    display: flex;
    width: $example-width * 2;
    .left,
    .right {
      width: $example-width;
    }

    .left {
      transform: translateX(-$example-width);
      &.selected {
        transform: translateX(0);
      }
    }

    .right {
      transform: translateX(0);
      &.selected {
        transform: translateX(-$example-width);
      }
    }

    .left .simple-card {
      background-color: $lighter-blue;
    }

  }
}
