*, *::before, *::after {
  box-sizing: border-box; }

.app-frame {
  border: 1px solid gainsboro;
  margin: 1rem auto;
  height: 800px;
  overflow: auto;
  width: 14rem; }

.loader {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
  transition-delay: 100ms; }
  .loader.unloaded, .loader-exit-active {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%; }
  .loader-exit-active {
    opacity: 0; }

.progress-bar-loader {
  background-color: #ea4bfc;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  height: 2rem;
  padding: 0;
  transition: height 100ms ease-in-out;
  width: 9rem; }
  .progress-bar-loader:focus {
    outline: 0; }
  .progress-bar-loader.loaded {
    background-color: #30e781; }
  .progress-bar-loader.loading {
    height: 1.2rem; }
  .progress-bar-loader .progress-bar {
    background-color: #0f0f0f;
    display: block;
    height: 100%;
    opacity: .3;
    width: 100%; }
  .progress-bar-loader .overlay {
    align-items: center;
    background-color: #ea4bfc;
    display: flex;
    height: 100%;
    justify-content: center;
    transition: background-color 100ms ease-in-out, opacity 100ms ease-in-out;
    width: 100%;
    opacity: 1; }
    .progress-bar-loader .overlay:hover {
      background-color: #0f0f0f;
      cursor: pointer;
      opacity: .4; }

.container {
  padding: 1rem; }

.simple-card {
  background-color: #4ca5fc;
  border-radius: 5px;
  box-shadow: 0 0 4px #0f0f0f;
  height: 9rem;
  margin-bottom: 1rem;
  padding: 1rem; }
  .simple-card .title {
    background-color: #93ccfc;
    border-radius: 10px;
    height: 1.5rem;
    width: 66%; }
  .simple-card .sub-title {
    background-color: #fafafa;
    border-radius: 10px;
    height: 1.5rem;
    margin-top: 1rem;
    width: 33%; }
  .simple-card-appear {
    opacity: 0;
    overflow: hidden;
    transform: translateY(30px);
    transition: opacity 200ms ease-in, transform 200ms ease-in; }
  .simple-card-appear-active {
    opacity: 1;
    transform: translateY(0); }

.expanded-card {
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden; }
  .expanded-card .top {
    background-color: #4ca5fc;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    height: 4rem; }
  .expanded-card .middle {
    padding: 1rem; }
    .expanded-card .middle .title {
      background-color: #93ccfc;
      border-radius: 10px;
      height: 1.5rem;
      width: 66%; }
    .expanded-card .middle .sub-title {
      background-color: gainsboro;
      border-radius: 10px;
      height: 1.5rem;
      margin-top: 1rem;
      width: 50%; }
  .expanded-card .bottom {
    display: none;
    padding: 0 1rem; }
    .expanded-card .bottom > p {
      background-color: #4ca5fc;
      border-radius: 10px;
      height: 1rem; }
  .expanded-card.mounted .bottom {
    display: block; }

.tabbed-container .tabs {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem; }
  .tabbed-container .tabs .left,
  .tabbed-container .tabs .right {
    padding: 1rem 0;
    position: relative;
    width: 50%; }
    .tabbed-container .tabs .left.selected::after, .tabbed-container .tabs .left.left-exit::after, .tabbed-container .tabs .left.right-exit::after,
    .tabbed-container .tabs .right.selected::after,
    .tabbed-container .tabs .right.left-exit::after,
    .tabbed-container .tabs .right.right-exit::after {
      border-bottom: 2px solid #4ca5fc;
      bottom: 0;
      content: "";
      position: absolute;
      width: 100%; }
  .tabbed-container .tabs .left.left-exit::after {
    transform: translateX(0);
    transition: transform 200ms ease-in-out; }
  .tabbed-container .tabs .left.left-exit-active::after {
    transform: translateX(6rem); }
  .tabbed-container .tabs .left.left-exit-done::after {
    display: none; }
  .tabbed-container .tabs .left.left-enter::after {
    display: none; }
  .tabbed-container .tabs .right.right-exit::after {
    transform: translateX(0);
    transition: transform 200ms ease-in-out; }
  .tabbed-container .tabs .right.right-exit-active::after {
    transform: translateX(-6rem); }
  .tabbed-container .tabs .right.right-exit-done::after {
    display: none; }
  .tabbed-container .tabs .right.right-enter::after {
    display: none; }
  .tabbed-container .tabs .button {
    background-color: gainsboro;
    border-radius: 5px;
    height: 2rem;
    margin: 0 auto;
    transition: background-color 200ms ease-in-out;
    width: 80%; }
    .tabbed-container .tabs .button:hover {
      background-color: #93ccfc;
      cursor: pointer; }
  .tabbed-container .tabs .selected .button {
    background-color: #4ca5fc; }

.tabbed-container .containers {
  display: flex;
  width: 28rem; }
  .tabbed-container .containers .left,
  .tabbed-container .containers .right {
    transition: transform 200ms ease-in-out;
    width: 14rem; }
  .tabbed-container .containers .left {
    transform: translateX(-14rem); }
    .tabbed-container .containers .left.selected {
      transform: translateX(0); }
  .tabbed-container .containers .right {
    transform: translateX(0); }
    .tabbed-container .containers .right.selected {
      transform: translateX(-14rem); }
