*, *::before, *::after {
  box-sizing: border-box; }

.app-frame {
  align-items: center;
  border: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  height: 800px;
  width: 14rem; }

.progress-bar-loader {
  background-color: #ea4bfc;
  border-radius: 5px;
  padding: 0;
  color: white;
  font-size: 1rem;
  height: 2rem;
  width: 9rem; }
  .progress-bar-loader:focus {
    outline: 0; }
  .progress-bar-loader.loaded {
    background-color: #30e781; }
  .progress-bar-loader.loading {
    height: 1.2rem; }
  .progress-bar-loader .progress-bar {
    background-color: #0f0f0f;
    display: block;
    height: 100%;
    opacity: .3;
    width: 100%; }
